includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    ignoreErrors:
        - identifier: trait.unused
    paths:
        - app
        - Modules
