includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    treatPhpDocTypesAsCertain: false
    paths:
        - app
        - Modules
    databaseMigrationsPath:
        - database/migrations
        - Modules/*/database/migrations
    ignoreErrors:
        -
            identifier: method.notFound
            paths:
                - Modules/*/tests/Architecture/*
